<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">javahome</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/javahomedb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="in.javahome.hibernate.entity.Student"/>
        <mapping class="in.javahome.hibernate.entity.Employee"/>
        <mapping class="in.javahome.hibernate.entity.Passport"/>
        <mapping class="in.javahome.hibernate.entity.Vehicle"/>
        <mapping class="in.javahome.hibernate.entity.Owner"/>
    </session-factory>
</hibernate-configuration>
